*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F5F1;
}

.row{
    width: 70%;
    margin: 0 auto;
}

.col-header{
    text-align: center;
}

.size {
    width: 200px;
    height: 200px;
}